# Copyright 2025 Canonical Ltd.
# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Release Image

on:
  workflow_call:
    inputs:
      docker_tag:
        required: false
        type: string
        default: "latest"
      docker_registry:
        description: "Docker Registry URL"
        default: "docker.io"
        type: string
      docker_repository:
        description: "Docker Repository"
        default: "onosproject/"
        type: string
      github_registry:
        description: "GitHub Container Registry URL"
        default: "ghcr.io"
        type: string

jobs:
  release-image:
    runs-on: ubuntu-latest
    env:
      DOCKER_TAG: ${{ inputs.docker_tag }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to Docker Registry
        uses: docker/login-action@v3.4.0
        with:
          registry: ${{ inputs.docker_registry }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.4.0
        with:
          registry: ${{ inputs.github_registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to Docker Registry
        env:
          DOCKER_REGISTRY: ${{ inputs.docker_registry }}/
          DOCKER_REPOSITORY: ${{ inputs.docker_repository }}
        run: |
          make docker-build
          make docker-push

      - name: Build and Push to GitHub Container Registry
        env:
          DOCKER_REGISTRY: ${{ inputs.github_registry }}/
          DOCKER_REPOSITORY: ${{ github.repository_owner }}/
        run: |
          make docker-build
          make docker-push
